*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #202733;
  --color-bg-variant: #1b2433;
  --color-primary:  #47AFA7;
  --color-primary-variant: #337F7A;
  --color-light: #9ef7f8;
  --color-white: #fff;
  --transition:all 400ms ease;


  --container--width-lg: 75%;
  --container--width-md: 86%;
  --container--width-sm: 90%;
}

html{
  scroll-behavior: smooth;
}
::-webkit-resizer{
  display: none;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url('./assets/bg-texture.png');
}


/* =========================================== General Styles============================================ */

.container{
  width: var(--container--width-lg);
  margin: 0 auto;
}

h1, 
h2, 
h3, 
h4, 
h5 {
  font-weight: 500;
}
H1{
  font-size: 2.5rem;
}
section{
  margin-top: 8rem;
}
section > h2,
section > h5{
  color: var(--color-light);
}
section>h2{
  color: var(--color-primary);
  margin-bottom: 3rem;
}
.text-light{
  color: var(--color-light);
}
a{
  color: var(--color-primary);
  transition: var(--transition);
}
a:hover{
  color: var(--color-white);
}

.btn{
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 1.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);

}

.btn:hover{
  background-color: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary{
  background-color: var(--color-primary);
  color: var(--color-bg);
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ============================================MEDIA QUERIUS (MEDIUM DIVICES)================================== */
@media screen and (max-width: 1024px) {
  .container{
    width: var(--container--width-md);
  }
  section{
    margin-top: 6rem;
  }
}


/* ============================================MEDIA QUERIUS (SMALL DIVICES)================================== */
@media screen and (max-width: 600px) {
  .container{
    width: var(--container--width-sm);
  }
  section>h2{
    margin-bottom: 2rem;
  }
}